
@{
    ViewBag.Title = "List";
}

<link href="~/Scripts/jquery-easyui-1.5.3/themes/default/easyui.css" rel="stylesheet" />
<link href="~/Scripts/jquery-easyui-1.5.3/themes/icon.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
@*<script type="text/javascript" src="~/Scripts/jquery-easyui-1.5.3/jquery.min.js"></script>*@
@*<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/jquery-easyui-1.5.3/jquery.easyui.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-easyui-1.5.3/plugins/jquery.datagrid.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Scripts/jquery-easyui-1.5.3/themes/default/datagrid.css" rel="stylesheet" />
<style>
    /*更改表格标题文字大小*/
    .datagrid-header span {
        font-size: 14px !important;
    }

    .datagrid-header-row {
        /* background-color: #e3e3e3; */
        /* color: #111 */
        height: 80px;
    }

    .panel-body {
        padding: 0;
    }

    .panel-title {
        text-align: center;
    }
</style>

<p style="font-size: 18px">@ViewBag.name — 欢迎您！</p>

<a href="/qrcode.html?BusinessUserID=@ViewBag.BusinessUserID">查看本店二维码</a>
@*<a href="/example/productpage.html">JSAPI支付</a>*@

<table id="list_data" class="easyui-datagrid" cellspacing="0" style="align-content:center" cellpadding="0">
    <thead>
        <tr data-options="nowrap:false">
            <th class="down_qr" data-options="field:'Pic', align:'center',formatter:imgFormatter" width="400">效果图（<button onclick="DownLoadPics();">下载</button>）</th>

            <th data-options="field:'lastEditTime',align:'center',formatter: DateTimeFormatter" width="200">时间</th>
            <th data-options="field:'mobile',align:'center'" width="100">手机号</th>
            <th data-options="field:'name',align:'center'" width="100">名字</th>
            <th data-options="field:'address',align:'center'" width="200">地址</th>
        </tr>
    </thead>
</table>


<input type="hidden" id="hid_businessuserid" value="@ViewBag.BusinessUserID" />

<script type="text/javascript">
    ////datagrid初始化
    $('#list_data').datagrid({
        title: '客户图片表',
        //iconCls: 'icon-edit',//图标
        width: 1000,
        height: 'auto',
        //nowrap: false,
        pagination: true,
        border: true,
        //collapsible: false,//是否可折叠的
        //fit: true,//自动大小
        url: '/KutoAdmin/GetCustomerPicList',

        method: 'post',

        pageNumber: 1,
        pageSize: 10,
        queryParams: { BusinessUserID: $('#hid_businessuserid').val() },
        onLoad: function (data) {
            //alert("加载成功");
        }
        //toolbar: [{
        //    text: '添加',
        //    iconCls: 'icon-add',
        //    handler: function () {
        //        openDialog("add_dialog", "add");
        //    }
        //}, '-', {
        //    text: '修改',
        //    iconCls: 'icon-edit',
        //    handler: function () {
        //        openDialog("add_dialog", "edit");
        //    }
        //}, '-', {
        //    text: '删除',
        //    iconCls: 'icon-remove',
        //    handler: function () {
        //        delAppInfo();
        //    }
        //}],
    });
    //设置分页控件
    var p = $('#list_data').datagrid('getPager');
    $(p).pagination({
        pageSize: 10,//每页显示的记录条数，默认为10
        total: '{total}',
        //pageList: [5, 10, 15],//可以设置每页记录条数的列表
        beforePageText: '第',//页数文本框前显示的汉字
        afterPageText: '页    共 {pages} 页',
        displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',

        onSelectPage: function (pageNo, pageSize) {
            var start = (pageNo - 1) * pageSize;
            var end = start + pageSize;
            $("#list_data").datagrid("loadData", data.slice(start, end));
            pager.pagination('refresh', {
                total: data.length,
                pageNumber: pageNo
            });
        }
    });

    function DateTimeFormatter(value, row, index) {
        if (value == undefined) {
            return "";
        }
        /*json格式时间转js时间格式*/
        value = value.substr(1, value.length - 2);
        var obj = eval('(' + "{Date: new " + value + "}" + ')');
        var dateValue = obj["Date"];
        if (dateValue.getFullYear() < 1900) {
            return "";
        }
        return dateValue.toLocaleString();
    }

    function imgFormatter(value, row, index) {
        var path = getRealPath();

        return '<img height="200px" border="0" class="qr_img"  src="' + path + row["pic"] + '" onclick="downloadImage(\'' + path + row["pic"] + '\')"/>';
    }

    //下载单个图片
    function downloadImage(src) {
        var filename = src.substring(src.lastIndexOf("/") + 1, src.length);
        var a = $("<a></a>").attr("href", src).attr("download", filename).appendTo("body");

        a[0].click();
        a.remove();
    }

    //批量下载图片
    function DownLoadPics() {
        $(".datagrid-row-selected img").each(function () {
            downloadImage(this.src);
        });
    }

    function getRealPath() {
        var localObj = window.location;
        var contextPath = localObj.pathname.split("/")[1];
        var basePath = localObj.protocol + "//" + localObj.host + "/save/";
        return basePath;
    }
</script>




