
@{
    ViewBag.Title = "GenImgLibJson";
}

<h2>更新图片库json配置</h2>

<div>
    <ul>
        <li>
            @ViewBag.galleryDir
        </li>
        <li>
            @ViewBag.dirName
        </li>
    </ul>
</div>


