#ruler {
    position: absolute;
    margin: 1px;
}

.vertical-container {
    border: 0.1px solid teal;
    height: 300px;
    display: flex;
    -webkit-display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
  }

/* .workspace {
    border: 0.1px solid red;
    background-color: white;
    width: calc(100vw - 10px);
    height: 500px;
} */

input[type="range"] {
    -webkit-appearance: none;
    width: 10rem;
    height: .25rem;
    outline: none;
    border-radius: .25rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
    border: .25rem solid grey;
    border-radius: 1rem;
    cursor: pointer;
}