body {
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

a {
    cursor: default !important;
}

#root {
    height: 100%;
}

.vertical-container {
    border: 0.1px solid teal;
    height: 300px;
    display: flex;
    -webkit-display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 10rem;
    height: .25rem;
    outline: none;
    border-radius: .25rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
    border: .25rem solid grey;
    border-radius: 1rem;
    cursor: pointer;
}


/* 纵向列表按钮调出的菜单中，关闭按钮恢复正常宽度 */

.ui.vertical.menu .item>i.icon.close {
    width: 2em;
}


/* 添加hintyellow黄色按钮，用于Contact组件 */

.ui.basic.hintyellow.button,
.ui.basic.hintyellow.buttons .button {
    background: #ffff00 !important;
    color: #dd2c00 !important;
}


/* 用于解决justfy-content: space-between后的排版问题 */

.wrap:after {
    content: "";
    flex: auto;
}


/* 调整二级下拉菜单宽度 */

.ui.labeled.icon.menu .item>.icon:not(.dropdown) {
    margin: 0 auto !important;
}


/* 下拉菜单开关按钮 hover 时，背景色不变 */

.ui.menu .active.item,
.ui.vertical.menu .active.item {
    background-color: rgba(0, 0, 0, 0);
}

.ui.menu .active.item:hover,
.ui.vertical.menu .active.item:hover {
    background-color: rgba(0, 0, 0, 0);
}


/* 图片切换loading */

.spinner {
    width: 60px;
    height: 60px;
    background-color: #67CF22;
    margin: 100px auto;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}