.custom {
    display: flex;
}
  
.custom > ul {
    position: absolute;
    top: 130px;
    right: 0;
    list-style: none;
    z-index: 1;
}
  
.custom > ul li {
    margin: 0 10px 10px 0;
    padding: 18px;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 1px grey;
    font-size: 3em;  
    cursor: pointer;
}
  
.custom > ul li:active {
    box-shadow: 0 0 5px grey;
}
  
.custom > ul li i {
    position: relative;
    top: -350%;
    left: -70%;
}
  
#c {
    margin: 0 5px;
    border: 0.1px solid grey;
}