.uploadImage {
    padding: 0 6px;
    width: 100%;
    position: relative;
    display: inline-block;
    color: white;
    font-size: 14px;
    background: #3195e0;
    border-radius: 1px;
}

.uploadImage:hover {
    background: #2185d0;
}

.uploadImage p {
    margin: 7px; 
}

input[type="file"] {
    position: absolute;
    left: 5px;
    top: 10px;
    opacity: 0;
    filter: alpha(opacity = 0);
    cursor: pointer;      
}