img {
    margin: 5px 0;
    height: 150px;
    box-shadow: 0 0 5px grey;
}

.fileInputContainer {
    float: left;
    margin: 0 5px;
    height: 150px;
    width: 100px;
    box-shadow: 0 0 10px #3195e0;
    background: url('../imgs/upload.png') no-repeat;
    background-size: 70px 70px;
    background-position: 14px 40px;
}

.fileInput {
    height: 150px;
    font-size: 1px;
    position: relative;
    left: 0;
    top: 0;
    opacity: 0;
}