.custom {
    margin: 15px 0;
    display: inline-block;
}

#ruler {
    position: absolute;
    margin: 1px;
}

#c {
    width: 100%;
    height: 600px;
    user-select: none;
    box-shadow: 0 0 2px grey;
    border-radius: 5px;
}

.workspace {
    border: 0.1px solid red;
    background-color: white;
    width: calc(100vw - 10px);
    height: 500px;
}